*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url(https://cdn.pixabay.com/photo/2016/11/21/17/45/background-1846768_1280.jpg);
    backdrop-filter: blur(4px);
}

header{
    padding: 8px 70px;
    background: #000;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .logo{
    width: 150px;
    height: 110px;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 60px;
}

.navigation ul li a{
    color: #fff;
    font-weight: 600;
    padding-bottom: 4px;
    transition: all 0.5s ease-in-out;
}

.navigation ul li a:hover{
    color: #888;
    border-bottom: 1px solid #888;
}

main section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 7rem;
}

.main-text h1{
    font-size: 3rem;
    margin-bottom: 0.2rem;
    color: #fff;
}

.main-text p{
    margin-bottom: 2rem;
    color: #fff;
}

.main-text .btn{
    padding: 10px 25px;
    background: #000;
    border-radius: 20px;
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.5s;
}

.main-text .btn:hover{
    opacity: .85;
}

.main-img{
    z-index: 100;
}
.main-img img{
    width: 425px;
}

